@layer base {
    :root, .light {
    --background: #ffffff; 
    --foreground: #0a0a0a;
    --border: #afafaf;

    --logobackground: #bebebe;
    --buttontext: #afafaf;
    --buttonhoverbg: rgb(243, 243, 243);
  }
}