@import "tailwindcss";

@import "./styles/theme-light.css";
@import "./styles//theme-dark.css";

@import "./styles//varibles.css";

/* Optional: Global resets */
@layer base {
  .font-lang-en {
    font-family: var(--font-times);
  }

  .font-lang-zh {
    font-family: var(--font-kaiti);
  }
}