@import "tailwindcss";

@theme {
  /* 1. Name the font class "font-times" and link it to your JS variable */
  --font-times: var(--font-times); 
  --font-kaiti: var(--font-kaiti);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-logobackground: var(--logobackground);
  
  /* Buttons in the Navbar */
  --color-buttontext: var(--buttontext);
  --color-buttonhoverbg: var(--buttonhoverbg);
}

/* Optional: Global resets */
@layer base {
  .font-lang-en {
    font-family: var(--font-times);
  }

  .font-lang-zh {
    font-family: var(--font-kaiti);
  }

  :root, .light {
    --background: #ffffff; 
    --foreground: #0a0a0a;
    --border: #afafaf;

    --logobackground: #bebebe;
    --buttontext: #afafaf;
    --buttonhoverbg: rgb(250, 250, 250);
  }

  .dark {
    --background: #09090b;
    --foreground: #ededed; 
    --border: #666666; 

    --logobackground: #666666;
    --buttontext: rgb(145, 152, 161);
    --buttonhoverbg: rgb(50, 50, 50);
  }
}