@import "tailwindcss";

@theme {
  /* 1. Name the font class "font-times" and link it to your JS variable */
  --font-times: var(--font-times); 
  --font-kaiti: var(--font-kaiti);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-logobackground: var(--logobackground);

  --color-primary: #0070f3;
}

/* Optional: Global resets */
@layer base {
  .font-lang-en {
    font-family: var(--font-times);
  }

  .font-lang-zh {
    font-family: var(--font-kaiti);
  }

  :root, .light {
    --background: #ffffff; 
    --foreground: #0a0a0a;
    --border: #e5e5e5;

    --logobackground: #50ff58;
  }

  .dark {
    --background: #09090b;
    --foreground: #ededed; 
    --border: #404040; 

    --logobackground: #697af9;
  }
}